body {
  background-color: rgb(229, 229, 229);
}

img {
  max-width: 300px;
}

@font-face {
  font-family: BBH;
  src: url(../font/BBHSansBartle-Regular.woff2);
}
@font-face {
  font-family: Roboto;
  src: url(../font/RobotoCondensed-VariableFont_wght.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: #d84585;
  padding-left: 5em;
  font-family: "BBH", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(229, 229, 229);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #d84585;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d84585;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (width < 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgb(229, 229, 229);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

.hl {
  margin: 0.7em;
  text-align: center;
  color: #d84585;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.pics {
  margin: 1em;
  padding: 1em;
}
.ctapic {
  clip-path: circle(40%);
  position: relative;
  width: 300px;
}

h2 {
  margin: 1em;
  color: #d84585;
}
p {
  margin: 1em;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.roundpic {
  clip-path: circle(40%);
  position: relative;
  width: 300px;
  margin: 5em;
  margin-left: 10em;
}
.starttxt {
  margin-left: 10em;
  margin-top: 7em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
}
.font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: x-large;
  font-weight: 800px;
  font-style: normal;
}
.timerbox {
  border: #d84585;
  border-radius: 3em;
  background-color: #d84585;
  margin: auto;
  margin-top: 5em;
  text-align: center;
  padding: 0.7em;
  width: 50%;
  height: 5em;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.timerbox2 {
  border: #d84585;
  border-radius: 3em;
  background-color: #d84585;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  padding: 2.3em;
  height: 8em;
  width: 30%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: large;
  font-weight: 600;
  font-style: normal;
}
.center {
  text-align: center;
  color: #d84585;
}
