.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.foot {
  display: flex;
  margin: 1em;
  padding: 0;
  justify-content: space-around;
  list-style-type: none;
  li {
    margin: 0.5em;
  }
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

.startpics{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (width < 800px) {
  .startpics {
    max-width: 100px;
    max-height: 100px;
    object-fit: fill;
    text-align: center;
    margin-bottom: 3em;
    
  }

  .ctapic {
    max-width: 120px;
    max-height: 120px;
  }

  .starttxt {
    max-width: 100px;
    max-height: 100px;
    margin: 0;
    text-align: center;
    place-self: center;
    
  }
  .roundpic {
    margin: 0%;
    margin-top: 3em;
  }
}
